<!-- <div class="container">
    <h1>Contact Ragistration Form</h1>
    <form #contForm="ngForm" (onSubmit)="submit(contForm)"
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input #fname="ngModel" required minlength="6" pattern="[a-zA-Z]+$" type="text" name="fname" class="form-control" ngModel> 
        <span style="color:red;" *ngIf="fname.invalid && fname.touched">Enter valid Name</span>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input #lname="ngModel" required minlength="6" pattern="[a-zA-Z]+$" type="text" name="lname" class="form-control" ngModel> 
        <span style="color:red;" *ngIf="lname.invalid && lname.touched">Enter valid Name</span>
    </div>
    <div class="form-group">
        <label for="ContactNumber">Last Name</label>
        <input #contact.no="ngModel" required minlength="10" pattern="" type="number" name="contact.no" class="form-control" ngModel> 
        <span style="color:red;" *ngIf="contact.no.invalid && contact.no.touched">Enter valid Name</span>
    </div> -->


    <!-- <button [disabled]="contForm.invalid" type="submit" class="btn-btn-primary" ngModel>Submit</button>
   </form>
</div> -->
